<div class="container">
  <h2 class="page-title">Add customer</h2>
  <form action="/customer/create">
    <div class="form-group">
      <label for="full-name">Ten day du</label>
      <input type="text" id="full-name" name="name" class="form-control">
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" name="email" class="form-control">
    </div>
    <div class="form-group">
      <label for="State">State</label>
      <input type="text" name="state" class="form-control">
    </div>
    <div class="form-group">
      <button type="submit">Submit</button>
    </div>
  </form>
</div>


